/* App.css */

/* Existing CSS */
.progress-gradient {
  background: linear-gradient(to right, #90ef89, #d692dd, #726edd);
}

.top-glow {
  box-shadow: 0 -26px 20px rgba(243, 186, 47, 0.3);
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.dot {
  width: 6px;
  height: 6px;
  background-color: white;
  border-radius: 50%;
  position: absolute; 
  top: 10px;
  right: 10px;
  animation: blink 1s infinite;
}

.circle-outer {
  background: linear-gradient(to bottom, #575def, #202731);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90vw;
  height: 90vw;
  max-width: 360px;
  max-height: 360px;
}

.circle-inner {
  background: radial-gradient(circle, #4960b2, #282e3e);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

@keyframes float {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-50px);
  }
}

.floating-coins {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}

.floating-coin {
  position: absolute;
  bottom: 0;
  width: 30px;
  height: 30px;
  animation: float-up 3s ease-in-out infinite;
}

@keyframes float-up {
  0% {
    transform: translateY(100vh);
    opacity: 1;
  }
  50% {
    transform: translateY(-50v);
    opacity: 0.5;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.fixed.inset-0.bg-black.bg-opacity-75.flex.justify-center.items-end.z-50.transition-transform.duration-500.ease-out {
  transform: translateY(0);
}

/* New CSS for the earn menu */
.earn-menu {
  background-color: #000;
  border-top: 3px solid #898585c1; /* Light grey border */
  border-left: 3px solid #898585c1;
  border-right: 3px solid #898585c1;
  width: 100%;
  padding: 20px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.earn-menu h2 {
  color: #fff;
  margin-bottom: 510px;
}

.earn-menu-item {
  background-color: #272a2f;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 500px;
}

.earn-menu-item img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.earn-menu-item-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  flex: 1;
}

.earn-menu-item-text p {
  margin: 0;
  color: white;
}

.earn-menu-item .text-xs {
  margin-top: 5px;
  color: #f0f0f0;
}

.close-button {
  background-color: rgba(179, 57, 57, 0.626);
  color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: center;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  
}

.large-coin {
  position: absolute;
  top: 60px; /* Adjust as needed */
  width: 200px; /* Adjust as needed */
  height: 200px; /* Adjust as needed */
  background: radial-gradient(circle, rgba(255, 223, 0, 0.8) 0%, rgba(255, 221, 0, 0.669) 40%, rgba(255, 221, 0, 0.019) 70%, rgba(0, 0, 0, 0.79) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 50%; /* Ensure it's a circle */
}

.large-coin img {
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
}
